<div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div style="">
        <img class="img-fluid " src="../../../assets/main/Group.png">
      </div>
      </div>

      <div class="col-lg-6 align-self-center" style="padding: 100px;">

          <h3 class="font-weight-bold mb-3 text-caption" ><strong>Make simple <br> diagnostics </strong></h3>
          <div>
          <p class="text-font">Take Self Diagnostic Questionnaire: Please let our quick diagnostic questionnaire to help you
            to determine the cause of abnormal behaviour of your device and get the part number right away!</p>
          </div>
            <div class="">
                <button mdbBtn type="button" color="primary" mdbWavesEffect >Diagnose</button>
            </div>

        </div>

    </div>





  </div>
