.card-text {

font-family: SF Pro Display;
font-size: 16px;
line-height: 25px;

color: #272727;

}


.people {
  font-family: SF Pro Display;
font-size: 16px;
line-height: 17px;
color: #272727;
}


.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: yellow;
}
.bad {
  color: #deb0b0;
}

