<div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-auto col-sm-12">

          <div class="row justify-content-md-center">

              <div class="col">
                  <h2 class="caption text-center">About us</h2>
              </div>


            </div>


            <div class="row justify-content-md-center">

                <div class="text-font col-md-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
                </div>


              </div>



      </div>

    </div>

  </div>
