



<div class="container" >





        <!--Navbar-->
        <mdb-navbar class="navCss bg-custom " SideClass="navbar  navbar-expand-xl navbar-light  default" style="position: fixed !important; z-index: 20;  top: 0px !important;"  [containerInside]="false">

          <mdb-navbar-brand><a
            class="navbar-brand"
            [routerLink]="['/']"
            style = "font-weight: bold;">DIAGNOS<span class = "nav-link-logo-text-blue">TECH</span></a></mdb-navbar-brand>

          <!-- Collapsible content -->
          <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="#"> </a>
                  </li>


              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect><span class = "nav-link-text-default" >Our Services </span></a>
              </li>

              <li class="nav-item">
                  <a
                  class="nav-link waves-light"
                  mdbWavesEffect
                  [routerLink]="['/devices']" >
                  <span class = "nav-link-text-default">Devices </span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-blue-button nav-link waves-light" href="#" mdbWavesEffect > <span class = "nav-link-text-blue" >Buy Parts </span></a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-red-button nav-link waves-light" href="#" mdbWavesEffect > <span class = "nav-link-text-red" >Repair Assistance </span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-yellow-button nav-link waves-light" href="#" mdbWavesEffect > <span class = "nav-link-text-yellow" >Get a Quote </span></a>
                      </li>

            </ul>

            <ul class="navbar-nav ml-auto">
                    <li class="nav-item log-in-button">
                        <button style="text-transform: capitalize;" type="button blue-color blue-color" mdbBtn color="link">Log In</button>
                      </li>



                    <li class="nav-item">
                <button  mdbBtn type="button" color="primary" mdbWavesEffect>Sign Up</button>
              </li>
            </ul>
          </links>


        </mdb-navbar>





      </div>



