.small-link {
  font-family: SF Pro Display;
  font-size: 12px;
  line-height: 14px;
  color: #4371FE !important;
}


.center {
  text-align:center;
}


.center form {
  display:inline-block;
}


.form-control {
  font-family: SF Pro Display;
  font-size: 0.8rem;
}


.form-inline .form-control {
  width: 400px;
}



