<div class="row justify-content-md-center">
  <div class="col">
   <h2 class="caption text-center">Enter model number for best results</h2>
</div>
</div>


<div class="row justify-content-md-center">
 <div class="span6 center" >
     <form class="form-inline" style="width: 600px">
   <input class="form-control" type="text" placeholder="Search" aria-label="Search">
   <button mdbBtn type="button" color="primary" mdbWavesEffect >Search</button>
  </form>
 </div>
</div>

<div class="row justify-content-md-center">
  <div class="col">
   <div class="small-link text-center"> <a>Can't find your model number? </a> </div>
</div>
</div>

<div class = "row" >
  <div class = "col-xl-4">
    <h2 class="caption text-center">Filter & Refine Results</h2>

  </div>

  <div class = ".col-xl-8">


  </div>


</div>





