<div class="row justify-content-md-center">
  <div class="col">
   <h2 class="caption text-center">Enter model number for best results</h2>
</div>
</div>


<div class="row justify-content-md-center" >
 <div class="span6 center" >
     <form class="form-inline" style="width: 600px">
   <input class="form-control" type="text" placeholder="Model, part number, product or brand" aria-label="Search">
   <button mdbBtn type="button" color="primary" mdbWavesEffect >Search</button>
  </form>
 </div>
</div>

<div class="row justify-content-md-center">
  <div class="col">
   <div class="small-link text-center"> <a>Can't find your model number? </a> </div>
</div>
</div>


<div class="row justify-content-end">
  <div class="col-lg-2">
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select>
        <mat-option *ngFor="let sort of sorts" [value]="sort">
          {{sort}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
</div>




<div class = "row" >
  <div class = "col-md-4">


<div class="d-flex justify-content-start">
    <h2 class="caption text-center">Filter & Refine Results</h2>
</div>

  <div class="d-flex justify-content-end">
    <mat-form-field>
      <mat-label class = "mat-label" >Product Type</mat-label>
      <mat-select [formControl]="tipes" multiple>
        <mat-option *ngFor="let tipes of tipesList" [value]="tipes">{{tipes}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end">
    <mat-form-field>
      <mat-label class = "mat-label">Brand</mat-label>
      <mat-select [formControl]="brands" multiple>
        <mat-option *ngFor="let brands of brandsList" [value]="brands">{{brands}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end">
    <mat-form-field>
      <mat-label class = "mat-label">Part Category</mat-label>
      <mat-select [formControl]="categories" multiple>
        <mat-option *ngFor="let categories of categoriesList" [value]="categories">{{categories}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  </div>

  <div class = "col-md-8">
    <div class = "row">
      <div class = "col-xl-4 col-sm-6">
        <a [routerLink]="['/product']">
        <app-model-card  ></app-model-card>
      </a>
      </div>
      <div class = "col-xl-4 col-sm-6">
        <app-model-card></app-model-card>
      </div>
      <div class = "col-xl-4 col-sm-6">
        <app-model-card></app-model-card>
      </div>
      <div class = "col-xl-4 col-sm-6">
        <app-model-card></app-model-card>
      </div>
      <div class = "col-xl-4 col-sm-6">
        <app-model-card></app-model-card>
      </div>
      <div class = "col-xl-4 col-sm-6">
        <app-model-card></app-model-card>
      </div>
      <div class = "col-xl-4 col-sm-6">
          <app-model-card></app-model-card>
        </div>
        <div class = "col-xl-4 col-sm-6">
            <app-model-card></app-model-card>
          </div>
          <div class = "col-xl-4 col-sm-6">
              <app-model-card></app-model-card>
            </div>

    </div>

  </div>


</div>





