<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
          <div class="row justify-content-md-center">
              <div class="col">
                  <h2 class="caption text-center">Buy Parts</h2>
              </div>
            </div>

            <div class="row overview-row">
                <div *ngFor="let category of allCategories" class="col-md-3 col-sm-6 col-6 text-center category" style = "margin-top: 10px; width: 80px;">
                  <a>
                  <div ><img src="{{category.url}}"></div>
                  <div class=" mx-auto category-name " style = "margin-top: 5px;">
                      {{category.brand }}
                     </div>
                    </a>
                </div>
            </div>

      </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button mdbBtn type="button" color="primary" mdbWavesEffect  >More</button>
        </div>
      </div>

  </div>
