

.text-font {
  font-family: SF Pro Display;
  color: #616161;
}




.category-name {
  font-family: SF Pro Display;
font-size: 18px;
line-height: 21px;

}


.overview-row {
margin-top: 50px;
}


.category:hover {
  img {
    filter: brightness(0) invert(1);
}
  background-color:#4371FE;
  color: white;

}





