<div class="container">
<main class="mt-5 pt-5">
    <div class="container-fluid">
    <div class="flex-center flex-column">

<!-- Section: Blog v.1 -->
<section class="my-5">


    <!-- Grid row -->
    <div class="row ">
      <!-- Grid column -->
      <div class="col-lg-7 align-self-center">
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 text-caption" ><strong>Write your problem
          <br> or category</strong></h3>
        <!-- Excerpt -->
        <p class="text-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            do eiusmod tempor incididunt ut labore et dolore magna .</p>
        <!-- Post data -->

        <!-- Read more button -->


        <form class="form-inline mr-auto " >


            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">


            <a mdbBtn color="primary" mdbWavesEffect class=" search-button" >Search</a>


          </form>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5 align-self-center">

        <!-- Featured image -->
        <div class="view overlay rounded  waves-light" style = "margin: 20px;" mdbWavesEffect>
          <img class="img-fluid " src="../../assets/home-icon-1.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->




  </section>
  <!-- Section: Blog v.1 -->
    </div>

  </div>
</main>
</div>
