


<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
          <div class="row justify-content-md-center">
              <div class="col">
                  <h2 class="caption text-center">Brands</h2>
              </div>
            </div>

            <div class="row overview-row" style="margin-top: 10px;">
                <div *ngFor="let brand of allBrands" class="col-md-3 col-sm-6 col-6 text-center category" >
                  <a>
                  <div style = "margin: 20px;"><img class="img-fluid " src="{{brand.url}}"></div>

                    </a>
                </div>
            </div>

      </div>
    </div>

    <div class="row justify-content-md-center" style="padding-top: 70px;">
        <div class="col-md-auto">
            <button mdbBtn color="primary" mdbWavesEffect class="main-button" > All Brands</button>
        </div>
      </div>

  </div>
