<div class="row" >
  <div class = "col">

      <div class = "row">
          <div class = "col-lg-6 col-md-12"  >
              <div class = "row align-items-center">
                  <div class = "col-4 " >

                          <div class="d-flex justify-content-center" style="margin-top: 10px;" ><img src = "../../assets/products/icons/front.png"></div>
                          <div class="d-flex justify-content-center" style="margin-top: 10px;"> <img src = "../../assets/products/icons/back.png"></div>
                          <div class="d-flex justify-content-center" style="margin-top: 10px;"> <img src = "../../assets/products/icons/Vector.png"></div>

                    </div>

                    <div class = "col-8" >
                      <div class="d-flex justify-content-start" style = "width: 248px;
                      height: 169px;">
                        <img src = "../../assets/products/71Ma5DxvemL.png">
                      </div>
                      </div>
                  </div>

            </div>

            <div class = "col-lg-4 col-md-12" >
                <div class = "row align-items-center">
                    <div class = "col" >
              <h1 style = "
              font-family: SF Pro Display;
              font-size: 22px;
              line-height: 26px;
              color: #272727;">Refrigerator Air Filter</h1>
              <div style = "
              font-family: SF Pro Display;
              font-size: 12px;
              line-height: 14px;
              color: #272727;
              margin-top: 20px;">Genuine OEM Part # W10311524 | RC Item # 1876318</div>
              <p style = "
              font-family: SF Pro Display;
              font-size: 14px;
              line-height: 21px;
              color: #272727;
              opacity: 0.6;">FreshFlow air filter, reduces common food odors in the refrigerator. 15 times more powerful than baking soda. Replace every 6 months.</p>


              <div class = "row">
                  <div class = "col-4" style = "
                  font-family: SF Pro Display;
                  font-size: 22px;
                  line-height: 26px;
                  color: #272727;">
                      $8.45
                    </div>
                    <div class = "col-8">
                        <form class="form-inline">

                            <button mdbBtn type="button" color="primary" mdbWavesEffect >View site</button>
                           </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>


              <div class = "col-lg-2 col-md-12"  >
                  <div class = "row align-items-center">
                      <div class = "col-6" class="d-flex justify-content-end">
                          <span class="big-star" >&#9733;</span>
                        </div>

                        <div class = "col-6">
                         <div style = "
                         font-family: SF Pro Display;
                         font-size: 22px;
                         line-height: 26px;
                         align-items: center;
                         color: #272727;">   98% </div>

                          <div style = "
                          font-family: SF Pro Display;
                          font-size: 12px;
                          line-height: 14px;
                          color: #616161;
                          opacity: 0.7;">41 reviews </div>
                          </div>
                      </div>

                </div>
          </div>
  </div>
</div>



<div class="row justify-content-md-center" style="margin-top: 100px" >
    <div class = "col-8">

        <div class="row align-items-center" >
            <div class = "col-6">
               <h2 style = "font-family: SF Pro Display;
               font-size: 22px;
               line-height: 26px;
               color: #272727;"> Customer Reviews </h2>
              </div>

              <div class = "col-6">
                  <div class="col-lg-4 col-sm-12 ml-auto" >
                      <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect style = "width: 190px !important;">Write A Review </button>
                  </div>
                </div>
            </div>
      </div>
    </div>



<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class = "col-8 ">

        <div class="row align-items-center" >
            <div class = "col-2">
              <img src = "../../assets/people/customer.png">
              </div>

              <div class = "col-10">
                  <div class="row" >
                      <div class = "col-6">
                        <h2 style = "
                        font-family: SF Pro Display;
                        font-size: 18px;
                        line-height: 21px;
                        color: #272727;">  William Henderson
                        </h2>
                        </div>

                        <div class = "col-6" >


                            <div class="d-flex justify-content-end">  <ngb-rating [(rate)]="currentRate" [max]=5>
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                  </ng-template>
                            </ngb-rating></div>
                          </div>
                      </div>
                      <div class="row" >
                          <div class = "col-12">
                            <div style = "
                            font-family: SF Pro Display;
                            font-size: 12px;
                            line-height: 14px;
                            color: #272727;
                            opacity: 0.5;">11 September 2019</div>
                            <div style = "
                            font-family: SF Pro Display;
                            font-size: 12px;
                            line-height: 18px;
                            color: #616161;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</div>
                            <div style = "
                            font-family: SF Pro Display;
                            font-size: 12px;
                            line-height: 14px;
                            color: #4371FE;"><a>View all</a></div>



                            </div>
                        </div>
                 </div>




            </div>
      </div>
    </div>


    <div class="row justify-content-md-center" style="margin-top: 30px">
        <div class = "col-8 ">

            <div class="row align-items-center" >
                <div class = "col-2">
                  <img src = "../../assets/people/customer.png">
                  </div>

                  <div class = "col-10">
                      <div class="row" >
                          <div class = "col-6">
                            <h2 style = "
                            font-family: SF Pro Display;
                            font-size: 18px;
                            line-height: 21px;
                            color: #272727;">  William Henderson
                            </h2>
                            </div>

                            <div class = "col-6" >


                                <div class="d-flex justify-content-end">  <ngb-rating [(rate)]="currentRate" [max]=5>
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                      </ng-template>
                                </ngb-rating></div>
                              </div>
                          </div>
                          <div class="row" >
                              <div class = "col-12">
                                <div style = "
                                font-family: SF Pro Display;
                                font-size: 12px;
                                line-height: 14px;
                                color: #272727;
                                opacity: 0.5;">11 September 2019</div>
                                <div style = "
                                font-family: SF Pro Display;
                                font-size: 12px;
                                line-height: 18px;
                                color: #616161;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</div>
                                <div style = "
                                font-family: SF Pro Display;
                                font-size: 12px;
                                line-height: 14px;
                                color: #4371FE;"><a>View all</a></div>



                                </div>
                            </div>
                     </div>




                </div>
          </div>
        </div>


        <div class="row justify-content-md-center" style="margin-top: 30px">
            <div class = "col-8 ">

                <div class="row align-items-center" >
                    <div class = "col-2">
                      <img src = "../../assets/people/customer.png">
                      </div>

                      <div class = "col-10">
                          <div class="row" >
                              <div class = "col-6">
                                <h2 style = "
                                font-family: SF Pro Display;
                                font-size: 18px;
                                line-height: 21px;
                                color: #272727;">  William Henderson
                                </h2>
                                </div>

                                <div class = "col-6" >


                                    <div class="d-flex justify-content-end">  <ngb-rating [(rate)]="currentRate" [max]=5>
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                          </ng-template>
                                    </ngb-rating></div>
                                  </div>
                              </div>
                              <div class="row" >
                                  <div class = "col-12">
                                    <div style = "
                                    font-family: SF Pro Display;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #272727;
                                    opacity: 0.5;">11 September 2019</div>
                                    <div style = "
                                    font-family: SF Pro Display;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #616161;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</div>
                                    <div style = "
                                    font-family: SF Pro Display;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #4371FE;"><a>View all</a></div>



                                    </div>
                                </div>
                         </div>




                    </div>
              </div>
            </div>
