
.big-star {
  font-size: 2.5rem;
  color: yellow;
}


.col-auto {
  margin: 10px;
}


.button {

font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
color: #4371FE;
}


.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: yellow;
}
.bad {
  color: #deb0b0;
}
