.mat-card-image {
  max-width: 160px;
}

.example-header-image {


}


.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: yellow;
}
.bad {
  color: #deb0b0;
}


.review {
  font-family: SF Pro Display;
font-size: 12px;
line-height: 14px;
color: #616161;

}
