/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


@font-face {
  font-family: SF Pro Display;
  src: url(assets/fonts/SFProDisplayRegular.ttf) format("opentype");
}


.text-font {
  font-family: SF Pro Display;
}


.main-button {
  height: 40px;
  border-radius: 4px;
  width: 170px;
  }

.text-caption {
   font-family: SF Pro Display;
  font-size: 48px;
  line-height: 57px;
  color: #4371FE;
  }



.text-font {
  font-family: SF Pro Display;
  color: #616161;
}


.caption {
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
}

button {
  text-transform: capitalize !important;
  background-color: aqua;

}


.container {
  margin-top: 100px;
}

// buttons size
.btn {
  padding: .6rem 2.9rem !important;
}

