<div class="container">
    <!-- Footer -->
    <footer class="page-footer font-small ">
        <div style="background-color: #4371FE;">
        <!-- Copyright -->


        <div class="footer-copyright text-center py-3">

            <div class="row">
                <div class="col text-left" style="margin-left: 50px; font-family: Roboto Mono;
                font-style: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #FFFFFF;">
                    DIAGNOSTECH
                </div>
                <div class="col">
                    2019 All Rights Reserved
                </div>
                <div class="col text-right" style="margin-right: 50px; ">
                    <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Sign Up</button>
                </div>
              </div>


          <!-- <div style="text-align: left;">DIAGNOSTECH</div> -->

        </div>
        <!-- Copyright -->
        </div>



      </footer>
      <!-- Footer -->
    </div>
