<!--
<div class="container" >
<div style="display: flex; justify-content: center; margin-top: 20px; width: 100%; ">

    <footer class="page-footer ">

            <div class="row" style="background-color: #4371FE;">
                <div class="col text-left" style="margin-left: 50px; font-family: Roboto Mono;
                font-style: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #FFFFFF;">
                    DIAGNOSTECH
                </div>

                <div class="col">
                    2019 All Rights Reserved
                </div>

                <div class="col">
                  2019 All Rights Reserved
              </div>

                <div class="col" style= "margin: auto 0 auto auto;">
                    <button href="#!" class="btn btn-outline-white " type="submit">Sign Up</button>
                </div>

            </div>

      </footer>
    </div>
  </div> -->

  <!-- Footer -->
<footer class="col-8  mx-auto page-footer font-small blue" style="margin-top: 20px; background-color: #4371FE !important; ">



  <!-- Copyright -->
  <div class="row footer-copyright text-center py-3">


 <div class="col-lg-4 col-sm-12 " style="font-family: Roboto Mono;
                font-style: normal;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                align-self: center;">
                    DIAGNOSTECH
                </div>


    <div class="col-lg-4 col-sm-12  " style="align-self: center;">
      2019 All Rights Reserved
  </div>

    <div class="col-lg-4 col-sm-12 ml-auto" >
      <button href="#!" class="btn btn-outline-white " type="submit">Sign Up</button>
  </div>

  </div>


  <!-- Copyright -->

</footer>
<!-- Footer -->
